
<nav>
    <h1 class="selfleft"><%= title %></h1>
    <a href="/"><div class="navlink">
        List
    </div>
    </a>
    <a href="/new">
    <div class="navlink">
        Add       
    </div>
    </a>
</nav>